@import '../../style/base.scss';
.song-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    header {
        @include header;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: #000000, $alpha: .3);
            z-index: -1;
        }
        .back {
            margin: 0 20px;
        }
    }
    .cover {
        position: absolute;
        width: 100%;
        filter: blur(8px);
        z-index: -1;
    }
    .song-list-detail {
        position: relative;
        margin-top: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 150px;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: #000000, $alpha: .25);
            z-index: -1;
        }
        .left-part {
            position: relative;
            margin-right: 20px;
            @include playCount;
            .song-img {
                width: 100px;
                height: 100px;
            }
        }
        .right-part {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100px;
            .song-title {
                @include no-wrap-line(2);
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
            }
            .creator {
                flex: 1;
                display: inline-flex;
                align-items: center;
                .avatar {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .nickname {
                    font-size: 14px;
                    color: #ddd;
                    font-weight: 300;
                }
            }
        }
    }
    .song-wrapper {
        flex: 1;
        z-index: 1;
        background-color: #eee;
        .track-item {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            min-width: 0;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
            &.active {
                &::before, .track-desc, .track-name {
                    color: red;
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
            &::before {
                content: attr(data-index);
                position: absolute;
                top: 0;
                left: -30px;
                font-size: 18px;
                line-height: 60px;
                color: #000;
            }
            .track-name {
                @include no-wrap;
                height: 28px;
                width: 80%;
                line-height: 28px;
                font-size: 16px;
                color: #000;
            }
            .track-desc {
                width: 80%;
                @include no-wrap;
                font-size: 12px;
                line-height: 18px;
                color: #666;
            }
        }
    }
}