@import '../../style/base.scss';
.player {
    width: 100%;
    height: 50px;
}
.wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    .cover {
        margin-right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }
    .music-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .name {
            @include no-wrap;
            font-size: 16px;
            color: #333;
        }
        .author {
            font-size: 14px;
            color: #999;
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}